<div class ="wrapper">
  <div class ="left-Col">
    <h3 class="yoursol"><strong>View Your solutions</strong></h3>

    <div class="card border-primary mb-3" style="max-width: 90rem;">
      <div class="card-header">
        <p class = "link btn btn-primary btn-lg btn-block">
          <%= link_to 'Start new challenge', challenges_path, class:"alink"	 %>
        </p>
      </div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
          <ul class="yoursolutions">
            <% @user.solutions.each do |solution| %>
              <li>
                <h3><%= link_to "#{solution.challenge.name}", solution_path(solution.id)  %>
                </h3>
                Created
                <%= time_ago_in_words(solution.created_at) %>
              </li>
            <% end %>
          </ul>
        </p>
      </div>
    </div>
  </div>

  <div class="right-Col">
    <h3 class="chal"><strong>Your created challenges</strong></h3>

    <div class="card border-primary mb-3" style="max-width: 50rem;">
      <div class="card-header">
            <p class="link btn btn-primary btn-lg btn-block">
                <%= link_to      'Create new challenge', new_challenge_path, class:"alink" %>
            </p>
      </div>
      <div class="card-body">
         <p class="card-text">
          <ul class="yourchallenge">
            <% @user.challenges.each do |challenge| %>
              <li>
                  <h3><%= link_to challenge.name, challenge_path(challenge.id) %>  </h3> created
                <%= time_ago_in_words(challenge.created_at) %>
               </li>
            <% end %>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
