<% if flash[:errors].present? %>
  <strong>Please correct the following errors in the form:</strong>
  <ol>
    <% flash[:errors].each do |error| %>
      <li>
        <%= error %>
      </li>
    <% end %>
  </ol>
<% end %>

<div class="form-group">

  <%= form_for @test_pair do |f| %>
  <%= f.label :input %>
  <%= f.text_field :input, class: "form-control test" %>
  <br>
  <%= f.label :input_type %>
  <%= f.select :input_type, ["integer", "string", "array"], class: "form-control" %>
  <br>
  <br>
  <%= f.label :output %>
  <%= f.text_field :output, class: "form-control test" %>
  <br>
  <%= f.label :output_type %>
  <%= f.select :output_type, ["integer", "string", "array"], class: "form-control" %>
  <br>
  <br>
  <%= f.submit class: "btn-primary btn-lg" %>
  <% end %>

</div>
